<% @cars.each do | car | %>

<div class="card-container">

    <%= link_to car_path(car) do %>
    <div class="index-card-parent" >
      <div class="index-card-header">
        <h4> <%= car.brand %> </h4>
        <p> <%= car.model %> </p>
      </div>

      <img src="<%= car.image_url %>" alt="Image of <%= car.model %>">

      <div class="index-card-footer">
        <p>Comment:</p>
      </div>
    </div>
    <br>
  <% end %>

</div>

<% end %>
