<h1>Show single car here</h1>

<div class="container">
  <%= "Owner: #{@car.owner.nickname}" %> <br>
<%= "Brand: #{@car.brand}" %> <br>
<%= "Model: #{@car.model}" %> <br>
<%= "Year: #{@car.year}" %> <br>
<%= "Fuel Type: #{@car.fuel}" %>
</div>

<div class="container">
  <%= simple_form_for [ @car, @review ] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.submit :submit %>
  <% end %>
</div>

<div class="container">
  <% @car.reviews.each do | review | %>
    <hr>
    <%= review.comment %> <br>
    <strong> <%= "Rating: #{review.rating}⭐️" %> </strong>
  <% end %>
</div>

<div class="container">
  <% if @car.favourites.empty? %>
    <%= simple_form_for [@car, Favourite.new] do |f| %>
      <%= f.submit "Add to Favourites" %>
  <% end %>

  <% else %>
    <p><%= "This car has been added to your Favourites!" %></p>
  <% end %>
</div>

<div class="container mt-8">
  <%= link_to "Back to all cars", cars_path %> <br>
  <%= link_to "Favourites", favourites_path %>
</div>
